@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard-Regular';
    font-size: 24px;
    color: #333;
    min-width: 1320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* sns */
#top {
    background-color: #F2F2F2;
}

.sns {
    width: 1320px;
    margin: auto;
    height: 75px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.sns li a:hover {
    filter: brightness(80%);
}

/* 상단메뉴 */
#header {
    border-bottom: solid #000 1px;
    background-color: #fff;
}

.header_in {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_in img {
    display: block;
}

.menu {
    display: flex;
    font-size: 28px;
    font-weight: bold;
}

.menu>li>a {
    display: block;
    padding: 20px 40px;
    position: relative;
}

strong {
    position: absolute;
    width: calc(100% - 80px);
    height: 2px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    bottom: 20px;
    background-color: #7944F5;
    transition: transform 0.3s ease;
}

.menu>li>a:hover strong {
    transform: translateX(-50%) scaleX(1);
}

/* 서브메뉴 */
.menu_in {
    font-size: 18px;
    font-weight: bold;
}

.menu_in a {
    display: block;
    color: #fff;
    background-color: #b6a4e2;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.menu_in a:hover {
    background-color: #f0cbe7;
}

.menu_in {
    display: none;
    position: absolute;
    width: 100%;
}

.menu>li {
    position: relative;
}

/* 메인배너 */
.mb {
    height: 800px;
    background: url(../images/title/main.jpg) no-repeat top center;
}

.mb_in {
    color: #fff;
    padding-top: 338px;
    width: 1320px;
    margin: auto;
}

h3 {
    font-size: 36px;
    font-weight: 600;
    margin-top: 34px;
}

.mb p {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
}

/* 소개 */
.box1 {
    width: 1320px;
    margin: auto;
    padding-top: 133px;
    display: flex;
    gap: 140px;
    overflow: hidden;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-size: 64px;
    font-weight: bold;
}

h4 {
    font-size: 26px;
}

.h4_1 {
    font-weight: 900;
    padding: 55px 0 30px;
}

.h4_2 {
    font-weight: 700;
    padding: 40px 0 357px;
}

.left p {
    font-size: 24px;
}

.right {
    position: relative;
}

.right img {
    position: absolute;
    animation: ani 2s linear alternate infinite;
}

.img1 {
    top: 84px;
    left: 140px;
}

.img2 {
    top: 76px;
    left: 368px;
}

.img3 {
    top: 173px;
    left: 187px;
}


@keyframes ani {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-10deg);
    }
}

/* 라인업 */
.box2 {
    width: 1320px;
    margin: auto;
    padding-bottom: 180px;
}

.sub {
    font-size: 48px;
    font-weight: bold;
    color: #7944F5;
}

h5 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 20px 0 40px;
}

.arti {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.box2 img {
    transition: 400ms;
}

.box2 img:hover {
    transform: translateY(-8px);
    transform: translateY(-8px);
    filter: drop-shadow(5px 5px 25px rgba(121, 68, 245, 0.5));
    opacity: 1;
}

.arti p {
    font-size: 25px;
    font-weight: 550;
    text-align: center;
    padding: 10px 0 25px;
}

.mc {
    display: flex;
    padding: 0 350px;
    justify-content: space-between;
}

.mc p {
    font-size: 25px;
    font-weight: 550;
    text-align: center;
    padding-top: 10px;
}

/* 로고 */
@keyframes ani2 {
    0% {
        transform: translateX(calc(-100% + 1920px));
    }

    100% {
        transform: translateX(0);
    }
}

.logo {
    height: 126px;
    background-color: #F4F6FF;
    overflow-x: hidden;
}

.logo_in {
    display: flex;
    gap: 80px;
    width: 4800px;
    animation: ani2 20s linear infinite;
}

/* 굿즈 */
.box3 .sub {
    text-align: center;
    padding: 145px 0 80px;
}

.goods {
    width: 100%;
    height: 100%;
}

.goods_img {
    overflow: hidden;
}

.goods .swiper-slide img:hover {
    transform: scale(1.2);
}

.goods .swiper-slide {
    width: 527px;
    overflow: hidden;
    border: solid 1px #B3B3B3;
}

.goods .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.goods .swiper-slide h6,
.goods .swiper-slide p {
    text-align: center;
}

.goods .swiper-slide h6 {
    font-size: 30px;
    padding-top: 30px;
}

.goods .swiper-slide p {
    font-size: 18px;
    padding: 12px 0 43px;
}

.goods .swiper-button-next:after,
.goods .swiper-button-prev:after {
    display: none;
}

.goods .swiper-button-next {
    right: 49.3%;
    margin-right: -300px;
}

.goods .swiper-button-prev {
    left: 49.3%;
    margin-left: -300px;
}

/* 리뷰 */
.rev {
    width: 1320px;
    margin: auto;
}

.rev .sub {
    text-align: left;
    padding: 145px 0 80px;
}

.rev_box {
    width: 1280px;
    margin: 0 auto 15px;
}

.rev_box img {
    display: block;
}

.rev_in {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rev_in li h6 {
    font-size: 24px;
}

.rev_in li p {
    font-size: 16px;
    font-weight: 100;
}

/* 티켓 */
.ticket {
    width: 1320px;
    margin: auto;
    padding: 200px 0;
}

.ticket .sub {
    padding-bottom: 80px;
    text-align: center;
}

/* 예매일, 금액 */
.ticket ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.ticket ul .date {
    width: 646px;
    height: 251px;
    border: solid 1px #D9D9D9;
    background: url(../images/info/clockbg.jpg) no-repeat 460px 60px;
}

.ticket ul .price {
    width: 646px;
    height: 251px;
    border: solid 1px #D9D9D9;
    background: url(../images/info/cardbg.jpg) no-repeat 460px 60px;
}

.ticket ul h6 {
    font-size: 30px;
    font-weight: 700;
}

.ticket ul p {
    font-size: 30px;
    font-weight: normal;
}

.ticket ul li h6 {
    padding: 67px 0 10px 43px;
}

.ticket ul li p {
    padding: 0 0 0 43px;
}

/* 이용안내 */
.seat {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 107px;
    /* border-bottom: solid 1px #333; */
}

.seat_in h5 {
    text-align: left;
}

.seat_in p {
    font-size: 20px;
    font-weight: 100;
    line-height: 29px;
}

/* 안내 */
.t1 {
    width: 1320px;
    padding: 10px 0;
    border-top: solid 1px #333;
    border-collapse: collapse;
}

.t1 th {
    width: 300px;
    font-size: 36px;
    font-weight: 600;
}

.t1 td {
    font-size: 18px;
    font-weight: 100;
    line-height: 32px;
}

.t1 th,
.t1 td {
    height: 315px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
    padding: 45px 20px;
    border-bottom: solid 1px #333;
}

.ticket_in {
    text-align: center;
    margin: 80px auto;
}

.ticket_in a {
    font-size: 30px;
    font-weight: 900;
    padding: 22px 92px;
    border: none;
    color: #fff;
    background-color: #7944F5;
    text-align: center;
    display: inline-block;
}

.ticket_in a:hover {
    background-color: #f0cbe7;
}

/* 위치 */
.sub2 {
    width: 1320px;
    margin: auto;
    font-size: 48px;
    font-weight: bold;
    color: #7944F5;
    background: url(../images/location/location_on.png) no-repeat 18% 1%;
    padding-bottom: 63px;
}

.location {
    width: 1320px;
    margin: auto;
    display: flex;
    align-items: flex-end;
}

.location img {
    width: 660px;
    height: 598px;
}

.location_in {
    border: solid 2px #F0F0F0;
    width: 660px;
    height: 598px;
    box-sizing: border-box;
    text-align: left;
    padding: 244px 0 80px 36px;
}

.location_in h6 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.location_in p {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}

.location_in span {
    font-size: 30px;
    font-weight: bold;
}

.location_in p {
    font-size: 25px;
    font-weight: normal;
}

.location_in .p1 {
    font-size: 18px;
}

.location_in .b1 {
    margin: 0 0 0 30px;
}

/* 커뮤니티 */
.community {
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 27px;
}

.community .sub {
    text-align: left;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 200px;
}

.com1 {
    width: 584px;
    height: 320px;
}

.com1 li a:hover {
    font-weight: bold;
    font-size: 15px;
}

.com2 {
    padding-left: 75px;
}

.c1 li {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
    padding: 16px 0;
    height: 20px;
    align-items: center;
}

.c1 .c1_in {
    border-top: 1px solid #ccc;
}

.community h5 {
    font-size: 34px;
    font-weight: bold;
    text-align: left;
}

.c1 {
    font-size: 14px;
    font-weight: normal;
}

/* FAQ꾸미기 */
.faq {
    width: 619px;
    margin: 0 0 29px;
}

.faq li {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
}

.faq b {
    font-size: 14px;
    font-weight: normal;
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 5px;
    text-align: center;
}

.faq li a {
    display: block;
    border: solid 1px #B5B5B5;
    border-top: 0;
    background-color: #EEEEEE;
    padding: 17px 37px 17px 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq li a span {
    width: 350px;
}

.faq li:hover a {
    font-weight: bold;
    font-size: 15px;
}

.faq li.on a {
    font-weight: bold;
    background-color: #eee;
}

.faq li:first-child a {
    border-top: 1px solid #B5B5B5;
}

.faq li div {
    width: 100%;
    border: solid 1px #B5B5B5;
    border-top: 0;
    border-collapse: collapse;
    padding: 10px 20px;
    box-sizing: border-box;
    display: none;
}

.faq li a img {
    transition: 0.5s;
}

/* 협찬사 */
@keyframes ani3 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% + 1920px));
    }
}

.logo2 {
    background-color: #F4F6FF;
    overflow-x: hidden;
    padding: 15px 0;
}

.logo2_in {
    display: flex;
    gap: 85px;
    width: 6450px;
    align-items: center;
    animation: ani3 45s linear infinite;
}

/* 푸터 */
#footer {
    height: 50px;
    background-color: #444;
}

#footer p {
    font-size: 20px;
    font-weight: bold;
    color: #BFBFBF;
    text-align: center;
    padding-top: 13px;
}

/* 탑버튼 */
#top_btn {
    position: fixed;
    right: 3%;
    bottom: 5%;
    z-index: 100;
}

html {
    scroll-behavior: smooth;
}